# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\david\IdeaProjects\new_year_bible\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
